<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='home.css') }}"
    />
    <title>Inventory</title>
</head>
<body>
    <form action="{{url_for('search')}}" method="get" class="search-bar">
        <input type="text" name="query" placeholder="Enter SKU or Product Name">
        <button type="submit">Search</button>
    </form>
    <table>
        <thead>
            <tr>
                <th>SKU</th>
                <th>Product Name</th>
                <th>Stock</th>
            </tr>
        </thead>
        <tbody>
            {% for item in inventory %}
            <tr>
                <td>{{ item['sku'] }}</td>
                <td>{{ item['product_name'] }}</td>
                <td>{{ item['stock'] }}</td>
            </tr>
            {% else %}
            <tr>
                <td colspan="3">No items found</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <div class="add-button-container">
        <div id="additional-buttons" class="hidden">
            <button class="rect-button">Add Product</button>
            <button class="rect-button">Add Log</button>
        </div>
        <button id="main-add-button" class="round-button" onclick="toggleButtons()">+</button>
    </div>
    <script>
        function toggleButtons() {
            var additionalButtons = document.getElementById("additional-buttons");
            additionalButtons.classList.toggle("hidden");
        }
    
        window.onclick = function(event) {
            var mainAddButton = document.getElementById("main-add-button");
            var additionalButtons = document.getElementById("additional-buttons");
    
            if (event.target !== mainAddButton && !additionalButtons.classList.contains("hidden")) {
                additionalButtons.classList.add("hidden");
            }
        }
    </script>
</body>
</html>